.page-title {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: max(5vh, 30px);
  color: #ee6c4d;
  background: #293241;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.48);
  padding: 0;
  margin: 0;
  height: max(6vh, 35px);
}

.nav-bar {
  height: max(10vh, 60px);
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  background: #98c1d9;
  text-align: center;
}

.challenge-title {
  height: max(4vh, 25px);
  color: #555;
  font-size: max(3.5vh, 20px);
}

.nav-bar:hover {
  background-color: #555;
}

.challenge-title:hover {
  color: #98c1d9;
}

.challenge-title {
  color: white;
  text-decoration: none;
}

.highlight-word {
  color: #ee6c4d;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.58);
}
