.main-content {
  display: flex;
  /* adds space between */
  justify-content: space-between;
}

.side-bar {
  width: 400px;
  min-height: 91vh;
  max-width: 30%;
  background: #f9bc60;
  padding: 15px;
  border: 2px black solid;
}
.side {
  max-width: 100%;
  overflow: scroll;
}
